MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ENDPOINT=http://localhost:9000
MINIO_CONSOLE_ENDPOINT=http://localhost:9001
MINIO_REGION=us-east-1

BRONZE_BUCKET=cnpj-bronze
SILVER_BUCKET=cnpj-silver
GOLD_BUCKET=cnpj-gold
CHECKPOINT_BUCKET=cnpj-checkpoints
RAW_BUCKET=cnpj-raw

SPARK_MASTER=local[2]
SPARK_APP_NAME=cnpj-local-runtime
SPARK_UI_PORT=4040
